<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{{project.name}}</title>

    <!-- selected stylesheets inserted here -->
    <!-- %{CSS} -->
    <!-- end stylesheet section -->
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen" charset="utf-8"/>

    <!-- selected libraries inserted here -->
    <!-- %{LIB} -->
    <!-- end library section -->
    <script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
  </head>  
  <body>
    
  </body>
</html>
